* {
    margin: 0;
    padding: 0;
}

body {
    background-color: beige;
}

.content-container {
    width: 100vw;
    height: 100vh;
    display: grid;
    place-content: center;
}

.header {
    background-color: lightblue;
}

.books-table-container {
    width: 700px;
    margin-bottom: 40px;
}

.books-container {
    border: 1px solid black;
    width: 100%;
    border-collapse: collapse;
}

tr:nth-child(odd of :not(.header)) {
    background-color: lightgrey;
}

tr:nth-child(even of :not(.header)) {
    background-color: white;
}

tr {
    height: 25px;
    text-align: center;
}

td {
    border: 1px solid blue;
}

.new-book-btn {
    background-color: lightblue;
    justify-self: center;
    padding: 10px 30px;
    border-radius: 5px;
}

.new-book-form {
    border: 1px dashed green;
    background-color: hsl(195, 53%, 88%);
    padding: 20px;
}

.input-field {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.input-field > input {
    width: 300px;
}

.submit-btn-container {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.submit-form-btn {
    padding: 10px 30px;
    border-radius: 5px;
}

.hidden {
    display: none;
}